In [1]:
import pandas as pd

In [3]:
author =  pd.read_csv(r'E:\vspy\论文相关git\论文数据集\论文初步方案\数据处理\b+信息.csv')
comments = pd.read_csv(r'E:\vspy\论文相关git\论文数据集\论文初步方案\数据处理\筛选后.csv')

In [4]:
data = comments.merge(author,how = 'left',on ='author')

In [5]:
data.head()

,author,body,word_count,age,country,agreeableness,openness,conscientiousness,extraversion,neuroticism,num_comments,en_comments,en_comments_percentage,is_female
0,MetricExpansion,Those stats come from the test. [Echoing the c...,149.0,23.0,NaN,30.0,70.0,15.0,15.0,50.0,2811,2768,98.470295,0
1,MetricExpansion,"That's great to hear! I hope you know that, de...",316.0,23.0,NaN,30.0,70.0,15.0,15.0,50.0,2811,2768,98.470295,0
2,MetricExpansion,I can totally agree on reticence! With respect...,143.0,23.0,NaN,30.0,70.0,15.0,15.0,50.0,2811,2768,98.470295,0
3,MetricExpansion,I took it several times. I'm typed as TYPE_MEN...,41.0,23.0,NaN,30.0,70.0,15.0,15.0,50.0,2811,2768,98.470295,0
4,MetricExpansion,Gawd it's like we don't even need drugs to be ...,11.0,23.0,NaN,30.0,70.0,15.0,15.0,50.0,2811,2768,98.470295,0

In [6]:
data.drop(['agreeableness','openness','conscientiousness','extraversion','neuroticism'],axis=1)

,author,body,word_count,age,country,num_comments,en_comments,en_comments_percentage,is_female
0,MetricExpansion,Those stats come from the test. [Echoing the c...,149.0,23.0,NaN,2811,2768,98.470295,0
1,MetricExpansion,"That's great to hear! I hope you know that, de...",316.0,23.0,NaN,2811,2768,98.470295,0
2,MetricExpansion,I can totally agree on reticence! With respect...,143.0,23.0,NaN,2811,2768,98.470295,0
3,MetricExpansion,I took it several times. I'm typed as TYPE_MEN...,41.0,23.0,NaN,2811,2768,98.470295,0
4,MetricExpansion,Gawd it's like we don't even need drugs to be ...,11.0,23.0,NaN,2811,2768,98.470295,0
...,...,...,...,...,...,...,...,...,...
1874996,Q1189998819991197253,But why would any of us know your backstory in...,27.0,19.0,NaN,31167,28124,90.236468,1
1874997,UltraGopnik3000,Hormones. Puberty.,2.0,18.0,NaN,709,654,92.242595,0
1874998,rotanocaB,"""Ruby My Dear""- Roy Hargrove""Round Midnight""- ...",14.0,NaN,NaN,263,221,84.030418,1
1874999,pikachuuuuu,"Charlie Pockets, what a great name.",6.0,30.0,us,20721,20307,98.002027,1
1875000,FusRoDan,"""I'm not sure if I was ever good at it,"" Lyn r...",80.0,NaN,NaN,13002,12645,97.254269,1

In [7]:
data.to_csv('训练数据.csv',index = False)